<div>
  <h2>Your Rapper Name (Iggy Azalea Style): </h2>

  <h3>
    <b><%= @full_name %></b>, your rapper name is...
  </h3>
  <h3 style="color:blue;">
  	<%= @pet_name %> <%= @street_name %>!
  </h3>
  <h3>
    <i>Niceeee.</i>
  </h3>

</div>
